@font-face {
    src: url(Concourse_Regular.ttf);
    font-family: Concourse;
}

p, h1, h2, ul, li, a {
  font-family: Concourse;
}

a, h2{
  transition: .5s;

}


html, body {
    margin: 0;
    padding: 0;
}

nav{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #F9F9F9;
  border-bottom-style: solid;
  border-bottom-color: black;
}
nav li{
  display: inline;
  float:right;
  text-decoration: none;
  padding-right: 40px;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  nav li {
    font-size: 15px;
  }
}

nav a{
  text-decoration: none;
  color: black;
}

nav img{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

a:hover{
  color: coral;
}

#intro{
  margin-top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  margin-bottom: 100px;

}

#intro h2{
  text-align: left;
}

#indexpic{
  float: right;
  margin-right: 20%;

}

#error{
  margin-top: 200px;
  width: 100%;
  text-align: center;
}

p a{
  text-decoration: none;
  color: blue;
}

h2 a{
  text-decoration: none;
  color: blue;
}

h3 a{
  text-decoration: none;
  color: blue;
}

#projectLinks{
  margin-top: 50px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
}

/*Quickflicks stuff */

.shell{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
}

.shell h1, h2{
  text-align: center;
}

.opening{
  margin-top: 100px;
  text-align: center;
}

.opening img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.intro{
  width: 100%;
  margin-bottom: 300px;
}

.introLeft{
  float: left;
  width: 40%;
  margin-right: 10%;
}

.introRight{
  float: right;
  width: 40%;
  margin-left: 10%;
}

.lean{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.sprint1design0{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.fourPics{
  width: 60%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.fourPics li{
  list-style-type: none;
  list-style: none;
  display: inline;
}

.personas{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.threePics{
  width: 60%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.threePics li{
  list-style-type: none;
  list-style: none;
  display: inline;
}

.paperProto{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.sprint1week1{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.lofiProto{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.sprint1week2{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.sprint2design0{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.visualImprovements{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.beforeafter{
  width: 100%;
  margin-bottom: 700px;
}

.before{
  float: left;
  width: 40%;
  margin-right: 10%;

}

.after{
  float: right;
  width: 40%;
  margin-left: 10%;

}

.sprint2week1{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.sprint2week1 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sprint2week2{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.finalPrototype{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
  text-align: center;
}

.finalPrototype{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.closing{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

/*Muse Stuff*/

#muse{
  background-color: #EAEAEA;
}

.museLogo img{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
}

.description{
  margin-bottom: 100px;
}

.defaultTextFormat{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}

.defaultTextFormat img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*About Stuff*/

.aboutLeft{
  float: left;
  margin-left: 10%;
  width: 35%;
  font-size: 18px;
}

.aboutRight{
  margin-top: 50px;
  float: right;
  margin-right: 10%;
  width: 35%;
}

.aboutContainer{
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
